@{
    ViewData["Title"] = "About Us";
}
<h1>@ViewData["Title"]</h1>

<p>We love to treat and heal pets in our vet clinic.</p>
<p>Our video calls allow us to see and keep in contact with as many pets as possible to help you, the pet owner!~</p>
